# Drizzle Configuration
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_DATABASE_ID=
CLOUDFLARE_D1_TOKEN=

# Better-Auth Configuration
BETTER_AUTH_SECRET="coloque-um-segredo-32+chars"
BETTER_AUTH_URL="http://localhost:3000"

# Discord Credentials
DISCORD_CLIENT_ID=="..."
DISCORD_CLIENT_SECRET=="..."

# Email (Resend)
RESEND_API_KEY=="..."
RESEND_FROM=="Steve Jobs <steve@apple.com>"
